# Crawler (ETF.com)
### Only 2 of 66 ETF have Closing price data on their own websites:

'FENY', 'TPYP'

In [5]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
import time
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [6]:
#classified by institution (different website)
ETFCom = ['FENY', 'TPYP']

In [11]:
#'FENY'
'''
my_options = Options()
my_options.add_argument("--headless")
driver = webdriver.Chrome('./chromedriver.exe', chrome_options=my_options)
#driver = webdriver.Chrome('chromedriver.exe')
driver.get("https://ETF.com/FENY/#overview")
driver.find_element_by_link_text("Fund Home Page").click()
driver.find_element_by_id("priceHistory").click()
driver.find_element_by_link_text("Download to CSV file").click()
time.sleep(6)
driver.quit()
print("Successfully download FENY \n")
'''

#dateframe
df = pd.read_csv("FENY_Price_History_20190315.csv")
df = df[550:1356]
print(len(df))
df = df.iloc[:,[0,4]]
df = df.iloc[::-1]
df = df.rename(columns={'Close':'FENY'})
df

806

            Date     FENY
1355  03/15/2019  17.8900
1354  03/14/2019  18.0400
1353  03/13/2019  18.0400
1352  03/12/2019  17.8200
1351  03/11/2019  17.6800
1350  03/08/2019  17.4000
1349  03/07/2019  17.7600
1348  03/06/2019  17.8600
1347  03/05/2019  18.1100
1346  03/04/2019  18.1700
1345  03/01/2019  18.1269
1344  02/28/2019  17.8100
1343  02/27/2019  17.9900
1342  02/26/2019  17.9000
1341  02/25/2019  18.0000
1340  02/22/2019  17.9800
1339  02/21/2019  17.9200
1338  02/20/2019  18.2200
1337  02/19/2019  18.1500
1336  02/15/2019  18.0700
1335  02/14/2019  17.7600
1334  02/13/2019  17.7100
1333  02/12/2019  17.4600
1332  02/11/2019  17.2400
1331  02/08/2019  17.1700
1330  02/07/2019  17.2500
1329  02/06/2019  17.6600
1328  02/05/2019  17.7800
1327  02/04/2019  17.7800
1326  02/01/2019  17.7400
...          ...      ...
579   02/12/2016  15.6800
578   02/11/2016  15.3000
577   02/10/2016  15.3700
576   02/09/2016  15.4300
575   02/08/2016  15.8200
574   02/05/2016  15.8600
573   02/04/2016  16.2200
572   02/03/2016  16.2000
571   02/02/2016  15.6000
570   02/01/2016  16.1400
569   01/29/2016  16.4700
568   01/28/2016  16.0400
567   01/27/2016  15.5400
566   01/26/2016  15.6200
565   01/25/2016  15.0400
564   01/22/2016  15.7800
563   01/21/2016  15.1100
562   01/20/2016  14.6500
561   01/19/2016  15.0800
560   01/15/2016  15.4700
559   01/14/2016  15.9100
558   01/13/2016  15.2500
557   01/12/2016  15.5800
556   01/11/2016  15.5300
555   01/08/2016  15.8900
554   01/07/2016  16.1000
553   01/06/2016  16.4938
552   01/05/2016  17.1400
551   01/04/2016  17.0800
550   12/31/2015  17.0900

[806 rows x 2 columns]

In [13]:
#'TPYP' 
r = requests.get("http://etp.tortoiseadvisors.com/tpyp/premium-discount/")
if r.status_code == requests.codes.ok:
    soup = BeautifulSoup(r.text, 'html.parser')
tags = soup.find_all('table')
df = pd.read_html(str(tags[0]))
dff = pd.DataFrame(df[0])
a = dff[0:781] #date filter
TPYP = a.iloc[:,[0,1]] #keep date & NAV
TPYP = TPYP.rename(columns={'Share Price':'TPYP'})
TPYP

           Date    TPYP
0     3/15/2019  $23.77
1     3/14/2019  $23.90
2     3/13/2019  $23.90
3     3/12/2019  $23.83
4     3/11/2019  $23.69
5      3/8/2019  $23.37
6      3/7/2019  $23.55
7      3/6/2019  $23.44
8      3/5/2019  $23.48
9      3/4/2019  $23.51
10     3/1/2019  $23.50
11    2/28/2019  $23.26
12    2/27/2019  $23.42
13    2/26/2019  $23.31
14    2/25/2019  $23.54
15    2/22/2019  $23.49
16    2/21/2019  $23.44
17    2/20/2019  $23.51
18    2/19/2019  $23.56
19    2/15/2019  $23.26
20    2/14/2019  $23.13
21    2/13/2019  $22.94
22    2/12/2019  $22.74
23    2/11/2019  $22.65
24     2/8/2019  $22.63
25     2/7/2019  $22.69
26     2/6/2019  $22.92
27     2/5/2019  $23.12
28     2/4/2019  $23.07
29     2/1/2019  $23.04
..          ...     ...
751   2/17/2016  $17.41
752   2/16/2016  $16.74
753   2/12/2016  $16.28
754   2/11/2016  $16.15
755   2/10/2016  $16.15
756    2/9/2016  $16.04
757    2/8/2016  $16.60
758    2/5/2016  $17.21
759    2/3/2016  $17.43
760    2/2/2016  $17.23
761    2/1/2016  $17.23
762   1/28/2016  $17.14
763   1/27/2016  $16.83
764   1/26/2016  $16.76
765   1/25/2016  $16.47
766   1/22/2016  $16.72
767   1/21/2016  $15.52
768   1/20/2016  $15.10
769   1/19/2016  $15.47
770   1/15/2016  $15.93
771   1/14/2016  $16.34
772   1/13/2016  $16.34
773   1/12/2016  $16.34
774   1/11/2016  $16.34
775    1/8/2016  $17.18
776    1/7/2016  $17.18
777    1/6/2016  $17.39
778    1/5/2016  $17.91
779    1/4/2016  $17.91
780  12/31/2015  $17.53

[781 rows x 2 columns]